#contact-label{
  text-align: center;
  font-size: 120%;
  margin-top: 65px;
}

.fa {
  color: black;
}

.contact-info {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  height: 100%;
  width: 60%;
  margin: 40px;
  text-align: left;
  float: right;
  color: black;
}

#icons {
  /*position: absolute;
  margin: 0 auto;*/
  margin-top: 40px;
  /*margin:left: 270px;*/
  /*width: 900px;*/
}

.icon {
  margin: 20px;
}

.icon-mail {
  position: relative;
  margin: 0 auto;
}
