.project-page {
  background: url('https://hd.unsplash.com/photo-1465420961937-e0eba4dda519') no-repeat center;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.typrr-burn {
  float: left;
}
.info {
  font-family: 'Raleway', sans-serif ;
  opacity: .9;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 75%;
  height: 70%;
  border: 1px solid #fff;
  z-index: 1;
  display: block;
  background-color: #54BABB;
}

.typr-info {
  padding: 20px;
  display: inline-block;
  float: right;
}

.turing-connect {
  padding: 20px;
  float: left;
  display: inline-block;
}

.turing-info {
  padding: 20px;
  float: right;
  display: inline-block;
}
