.landing-page{
  background: url('https://hd.unsplash.com/photo-1465420961937-e0eba4dda519') no-repeat center;
  background-position: center center;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  min-height: 100vh;

}
